@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


/* Cairo Font */
@font-face {
  font-family: 'Cairo';
  src: url('/src/assets/fonts/Cairo/Cairo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/src/assets/fonts/Cairo/Cairo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/src/assets/fonts/Cairo/Cairo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/src/assets/fonts/Cairo/Cairo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Arabic font stack */
@layer base {
  * {
    font-family: 'Cairo', sans-serif;
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: 'Cairo', sans-serif;
  }
}

/* RTL utilities */
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

body {
  overflow-x: hidden;
}
